<!DOCTYPE html>
<html>
<head>
　　<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	
	<link href="https://neverland0.github.io/css/home.css" rel="stylesheet" type="text/css">
	<link href="https://neverland0.github.io/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link rel="shortcut icon" href="https://neverland0.github.io/favicon.ico">
	<link rel="icon" href="https://neverland0.github.io/favicon.ico">
　　<title>{{ page.title }}</title>
</head>
<body>

　　{{ content }}

</body>
</html>