<!DOCTYPE html>
<html>
<head>
　　<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link href="https://neverland0.github.io/css/main.css" rel="stylesheet" type="text/css">
	<link href="https://neverland0.github.io/css/pygments.css" rel="stylesheet" type="text/css">
	<link rel="shortcut icon" href="https://neverland0.github.io/favicon.ico">
	<link rel="icon" href="https://neverland0.github.io/favicon.ico">
　　<title>{{ page.title }}</title>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?87442062138d29f7096442229d2be267";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</head>
<body>
	 <script>
        if (/mobile/i.test(navigator.userAgent) || /android/i.test(navigator.userAgent))
        {
            document.body.classList.add('mobile');
        }
     </script>
	<div style="margin: 2% 15% 2% 15%">
		<div style="padding: 2% 8% 5% 8%;border:1px solid LightGrey;">
			<h1>{{ page.title }}</h1>
	　　{{ content }}
		</div>
	</div>
</body>
</html>